@model Sacrament.Models.Meeting

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Meeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Preside" class="control-label"></label><span> *</span>
                <input asp-for="Preside" class="form-control" />
                <span asp-validation-for="Preside" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conduct" class="control-label"></label><span> *</span>
                <input asp-for="Conduct" class="form-control" />
                <span asp-validation-for="Conduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label"></label><span> *</span>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hymn_1" class="control-label"></label>
                <span> *</span><span asp-for="Hymn_1Num" id="Hymn_1Num"></span>
                @Html.DropDownList("Hymn_1", (IEnumerable<SelectListItem>)ViewBag.Hymns, "Please Select", new { id = "ddlHymns", @class = "form-control", @oninput = "adjVal1(this.value)", @onchange = "adjVal1(this.value)" })
                <span asp-validation-for="Hymn_1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label"></label><span> *</span>
                <input asp-for="OpeningPrayer" class="form-control" />
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hymn_2" class="control-label"></label>
                <span> *</span><span id="Hymn_2Num"></span>
                @Html.DropDownList("Hymn_2", (IEnumerable<SelectListItem>)ViewBag.Hymns, "Please Select", new { id = "ddlHymns", @class = "form-control", @oninput = "adjVal2(this.value)", @onchange = "adjVal2(this.value)" })
                <span asp-validation-for="Hymn_2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName_1" class="control-label"></label>
                <input asp-for="FirstName_1" class="form-control" />
                <span asp-validation-for="FirstName_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName_1" class="control-label"></label>
                <input asp-for="LastName_1" class="form-control" />
                <span asp-validation-for="LastName_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic_1" class="control-label"></label>
                @Html.DropDownList("Topic_1", (IEnumerable<SelectListItem>)ViewBag.Topics, "Please Select", new { id = "ddlTopics", @class = "form-control" })
                <span asp-validation-for="Topic_1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName_2" class="control-label"></label>
                <input asp-for="FirstName_2" class="form-control" />
                <span asp-validation-for="FirstName_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName_2" class="control-label"></label>
                <input asp-for="LastName_2" class="form-control" />
                <span asp-validation-for="LastName_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic_2" class="control-label"></label>
                @Html.DropDownList("Topic_2", (IEnumerable<SelectListItem>)ViewBag.Topics, "Please Select", new { id = "ddlTopics", @class = "form-control" })
                <span asp-validation-for="Topic_2" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hymn_3" class="control-label"></label>
                <span id="Hymn_3Num"></span>
                @Html.DropDownList("Hymn_3", (IEnumerable<SelectListItem>)ViewBag.Hymns, "Please Select", new { id = "ddlHymns", @class = "form-control", @oninput = "adjVal3(this.value)", @onchange = "adjVal3(this.value)" })
                <span asp-validation-for="Hymn_3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName_3" class="control-label"></label>
                <input asp-for="FirstName_3" class="form-control" />
                <span asp-validation-for="FirstName_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName_3" class="control-label"></label>
                <input asp-for="LastName_3" class="form-control" />
                <span asp-validation-for="LastName_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic_3" class="control-label"></label>
                @Html.DropDownList("Topic_3", (IEnumerable<SelectListItem>)ViewBag.Topics, "Please Select", new { id = "ddlTopics", @class = "form-control" })
                <span asp-validation-for="Topic_3" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FirstName_4" class="control-label"></label>
                <input asp-for="FirstName_4" class="form-control" />
                <span asp-validation-for="FirstName_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName_4" class="control-label"></label>
                <input asp-for="LastName_4" class="form-control" />
                <span asp-validation-for="LastName_4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Topic_4" class="control-label"></label>
                @Html.DropDownList("Topic_4", (IEnumerable<SelectListItem>)ViewBag.Topics, "Please Select", new { id = "ddlTopics", @class = "form-control" })
                <span asp-validation-for="Topic_4" class="text-danger"></span>
            </div>
            <div>

            </div>

            <div class="form-group">
                <label asp-for="Hymn_4" class="control-label"></label>
                <span> *</span><span id="Hymn_4Num"></span>
                @Html.DropDownList("Hymn_4", (IEnumerable<SelectListItem>)ViewBag.Hymns, "Please Select", new { id = "ddlHymns", @class = "form-control", @oninput = "adjVal4(this.value)", @onchange = "adjVal4(this.value)" })
                <span asp-validation-for="Hymn_4" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label"></label><span> *</span>
                <input asp-for="ClosingPrayer" class="form-control" />
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
