@model Sacrament.Models.Meeting

@{
    ViewData["Title"] = "Program Details for " + Model.MeetingDate;
}

<head>
    <link rel="stylesheet" href="~/css/programStyle.css" />
</head>
@if (Model.MeetingDate == DateTime.Today.AddDays(7 - (int)DateTime.Today.DayOfWeek))
{
    <h1 class="noprint">This Week's Meeting</h1>
}
else
{
    <h1 class="noprint">Program for @Html.DisplayFor(model => model.MeetingDate)</h1>
}

<div id="programcontainer">
<div class="program" id="program">
    <h4>Angeles Ward</h4>
    <h4>@Model.MeetingDate.ToString("MMMM dd, yyyy")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preside)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preside)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Conduct)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Conduct)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OpeningPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OpeningPrayer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hymn_1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_1Num)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hymn_1Num)
        </dd>
        <dt class="col-sm-12 centered">Announcements</dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hymn_2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_2Num)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hymn_2Num)
        </dd>
        <dt class="col-sm-12 centered">Administration of the Sacrament</dt>
        @if (Model.FirstName_1 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName_1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName_1)
                @Html.DisplayFor(model => model.LastName_1)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Topic_1)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Topic_1)
            </dd>
        }
        @if (Model.FirstName_2 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName_2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName_2)
                @Html.DisplayFor(model => model.LastName_2)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Topic_2)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Topic_2)
            </dd>
        }
        @if (Model.Hymn_3 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Hymn_3)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hymn_3)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Hymn_3Num)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hymn_3Num)
            </dd>
        }
        @if (Model.FirstName_3 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName_3)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName_3)
                @Html.DisplayFor(model => model.LastName_3)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Topic_3)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Topic_3)
            </dd>
        }
        @if (Model.FirstName_4 != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FirstName_4)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FirstName_4)
                @Html.DisplayFor(model => model.LastName_4)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Topic_4)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Topic_4)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_4)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hymn_4)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_4Num)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hymn_4Num)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClosingPrayer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClosingPrayer)
        </dd>
    </dl>
</div>
</div>
<div class="noprint">
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit Program</a> |
    <a asp-action="Create">Create New Program</a> |
    <a asp-action="Index">List of Programs</a>
</div>
<input type="button" id="printer" class="noprint" onclick="Printalot()" value="Print"/>
<script type="text/javascript">
    function Printalot() {
        var nonprint = document.getElementsByClassName('noprint');
        for (var i = 0; i < nonprint.length; i++) {
            nonprint[i].style.display = 'none';
        }
        window.print();
        for (var i = 0; i < nonprint.length; i++) {
            nonprint[i].style.display = '';
        }
    }   
</script>
