@model Sacrament.Models.Hymn

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hymn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_1Num)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hymn_1Num)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hymn_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hymn_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hymn_3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hymn_4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hymn_4)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HymnId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
